<% if @user.errors.any? %>
	<div id="error_explanation">
			Há erros no formulário, por favor verifique.
	</div>
<% end %>

<%= form_for @user do |f| %>
	<p>
		<%= f.label :full_name %>
		<%= f.text_field :full_name %>
		<%= error_tag @user, :full_name %>
	</p>
	<p>
		<%= f.label :locatino %>
		<%= f.text_field :locatino %>
		<%= error_tag @user, :locatino %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
		<%= error_tag @user, :email %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= error_tag @user, :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
		<%= error_tag @user, :password_confirmation %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

